# Build files
build/
*.o
*.exe
my_imgui_app

# IDE files
.vscode/
.idea/
*.swp
*.swo
.cursorrules
# OS files
.DS_Store
Thumbs.db

# Compiled files
alberus

#memos
memos.txt
test.drawio
imgui.ini
