# Build files
build/
*.o
*.exe
my_imgui_app

# IDE files
.vscode/
.idea/
*.swp
*.swo
.cursorrules
# OS files
.DS_Store
Thumbs.db

# Compiled files
magellano
alberus
data/
examples/

#memos

#test.drawio
imgui.ini
#projects-tree.drawio
#TODO.md
github-cheatsheet.md
#docs
docs/crypto_usage.md
docs/github-cheatsheet.md
login_fix.md
